# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Dataset
backend/data/raw/
backend/data/processed/

# Model artifacts
backend/models/saved_models/
backend/evaluation/artifacts/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db